<div class="container">
    <h2 style="text-align: center;"> Edit Product</h2>
    <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="text">Name</label>
            <input type="text" name="Name" class="form-control" value="{{product.Name}}">

        </div>
        <div class="form-group">
            <label for="text">Category</label>
            <input type="text" name="Category" class="form-control" id="exampleInputPassword1"
                value="{{product.Category}}">
        </div>
        <div class="form-group">
            <label for="text">Price</label>
            <input type="text" name="Price" class="form-control" id="exampleInputPassword1" value="{{product.Price}}">
        </div>
        <div class="form-group">
            <label for="text">Description</label>
            <input type="text" name="Description" class="form-control" id="exampleInputPassword1"
                value="{{product.Description}}">
        </div>
        <div class="form-group">
            <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height:auto">

        </div>
        <div class="form-group">

            <label for="">Image</label>
            <input type="file" name='image' class="form-control">
        </div>



        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>